.data-table {
    width: 850px;
    min-height: 550px;
    border: 1px solid black;
}

.data-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-heading .data-col {
    padding: 1.5rem 1rem;
    width: 25%;
    border: 1px solid black;
}

.data-body {
    width: 100%;
    display: grid;
}

.data-body .data {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 1px solid black;
}

.data-body .data-col {
    width: 25%;
}

.edit {
    margin-right: 15px;
}
.cursor {
    cursor: pointer;
    color: blue;
}
